:root {
  --panel-w: 340px;
  --cpanel-w: 300px;
  --topbar-h: 53px;
  --border-w: 1px;
  --space-n12: -12px;
  --space-n8: -8px;
  --space-n6: -6px;
  --space-n3: -3px;
  --space-n1-5: -1.5px;
  --space-0-5: 0.5px;
  --space-2: 2px;
  --space-3: 3px;
  --space-4: 4px;
  --space-6: 6px;
  --space-7: 7px;
  --space-8: 8px;
  --space-10: 10px;
  --space-11: 11px;
  --space-12: 12px;
  --space-13: 13px;
  --space-13-77: 13.77px;
  --space-14: 14px;
  --space-15: 15px;
  --space-16: 16px;
  --space-17: 17px;
  --space-18: 18px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-37: 37px;
  --space-40: 40px;
  --space-44: 44px;
  --space-48: 48px;
  --space-57: 57px;
  --space-60: 60px;
  --space-64: 64px;
  --space-72: 72px;
  --space-84: 84px;
  --space-96: 96px;
  --space-120: 120px;
  --space-128: 128px;
  --space-140: 140px;
  --space-150: 150px;
  --space-220: 220px;
  --space-240: 240px;
  --space-420: 420px;
  --space-480: 480px;
  --space-560: 560px;
  --space-600: 600px;
  --space-620: 620px;
  --space-640: 640px;
}
